body {
  color: #333;
  line-height: 1.2;
  font-family:'Helvetica Neue', Helvetica, 'Lucida Grande', Arial, 'Hiragino Sans GB', 微软雅黑, 'WenQuanYi Micro Hei', STHeiti, SimSun, sans-serif;
}
.clearfix {
  clear:both;
}
.clearfix:after {
  display: table;
  content: ' ';
  clear: both;
}
.player {
}
.player-side {
  float: left;
  height: 245px;
  width: 245px;
  overflow: hidden;
}
.player-picture {
  display: inline-block;
  width: 100%;
  height: 0;
  padding-bottom: 100%;
  background-size: cover;
}

.player-main {
  float: left;
  vertical-align: top;
  width: 250px;
  padding-left: 20px;
}

.text-right {
  text-align: right;
}

.btn {
  display: inline-block;
  width: 30px;
  height: 30px;
  background-size: 150%;
  background-position: center;
  cursor: pointer;
}
.btn-hz {
  margin-right: 8px;
  margin-top: 6px;
  background-image: url(/assets/images/hz.svg);
}
.btn-play {
  background-image: url(/assets/images/play.svg);
}
.btn-pause {
  background-image: url(/assets/images/pause.svg);
}
.btn-like {
  background-image: url(/assets/images/heart.svg);
}
.btn-like-active {
  background-image: url(/assets/images/heart-red.svg);
}
.btn-byb {
  background-image: url(/assets/images/trash.svg);
}
.btn-next {
  background-image: url(/assets/images/next.svg);
}
.player-control .btn {
  width: 40px;
  height: 40px;
  margin-right: 25px;
  background-size: 160%;
}
.player-control .btn:last-child {
  margin-right: 0;
}
.player-time {
  margin-top: 4px;
  width: 91%;
  text-align: right;
  font-size: 12px;
  color: #c0c0c0;
}
.player-info .artist {
  font-size: 22px;
}
.player-info  .album {
  font-size: 14px;
}

.player-info .title {
  font-size: 14px;
  margin-top: 32px;
  color: rgb(0,195,90);
}
.player-info .artist,
.player-info .album,
.player-info .title {
  width: 91%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.progress {
  position:relative;
  margin-top: 6px;
  width: 92%;
  height: 1px;
  background-color: #ccc;
}
.progress-inner {
  position: absolute;
  height: 1px;
  background: rgb(0,195,90);
}
.player-control {
  margin-top: 38px;
}

.hidden {
  display: none;
}
#app {
  position: relative;
}
.channels {
  position: fixed;
  background-color: #fff;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 10;
  overflow-y: auto;
}

.channel, .channel-close {
  display: inline-block;
  margin: 3px 6px;
  padding: 5px 12px;
  border-radius: 4px;
  cursor: pointer;
  background-color: #fff;
  color: #333;
  border: 1px solid #ccc;
  font-size: 14px;
}
.channel-close {
  background-color: #5bc0de;
  border-color: #46b8da;
  color: #fff;
}
.channel.active {
  background-color: #30A080;
  color: #fff;
  border-color: #30A080;
}
